* {
  padding: 0;
  background: aqua;
}

.counter-container {
  display: grid;
  border: 10px solid black;
  align-content: center;
  justify-content: center;
  font-size: 500%;
  margin: 0 auto;
  max-width: 55%;
  background: cornsilk;
  justify-items: center;
}

.button {
  max-width: 20px;
  min-width: 20px;
}

.counter-title {
  background: cornsilk;
}
